# Logs
logs
*.log
.clinerules
.kilocode
.prompts
.roo
.taskmanager
.vscode-test
*.log.*
context7-mcp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
mcp-servers/sequentialthinking
node_modules
dist
dist-ssr
*.local
.env


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel

dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.vscode
# OS specific

# Task files
# tasks.json
# tasks/ 
