# frontend/custom-nginx.template
upstream backend {
    server ${BACKEND_HOST};
}

server {
    listen 80;

    location /api/ {
      proxy_pass http://backend$request_uri;
    }

    location / {
      if (!-e $request_filename){
      rewrite ^(.*)$ /index.html break;
  }
    }
}

